<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>

    <meta name="keywords" content=<%= @seo_keywords %> />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "blogs", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if current_user %>
      <%= link_to "logout", destroy_user_session_path %>
    <% else %>
      <%= link_to "register", new_user_registration_path %>
      <%= link_to "login", new_user_session_path %>
    <% end %>  

    <%= yield %>

    <div>
    <div><%= link_to "Home", root_path %></div>
    <div><%= link_to "About", about_me_path %><div>
    <div><%= link_to "Contact", contact_path %></div>
    <div><%= link_to "Blogs", blogs_path %></div>
    <div><%= link_to "Portfolios", portfolios_path %></div>
    </div>

  </body>
</html>