<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>

    <meta name="keywords" content=<%= @seo_keywords %> />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "portfolios", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <%= render "shared/nav" %>
  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if current_user %>
      <%= link_to "logout", destroy_user_session_path %>
    <% else %>
      <%= link_to "register", new_user_registration_path %>
      <%= link_to "login", new_user_session_path %>
    <% end %>  

    <%= yield %>

  </body>
</html>